In [ ]:
a

In [ ]:
movies=pd.read_csv("/content/drive/MyDrive/datasets/final_movie_dataset/tmdb_5000_movies.csv")
credits=pd.read_csv("/content/drive/MyDrive/datasets/final_movie_dataset/tmdb_5000_credits.csv")

In [ ]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [ ]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [ ]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [ ]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [ ]:
credits.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [ ]:
movies = movies.merge(credits,on='title')

In [ ]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [ ]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew','release_date','vote_average','vote_count']]

In [ ]:
movies.columns

Index(['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
popularity=movies[['movie_id','title','vote_average','vote_count']]

In [ ]:
popularity.head(3)

,movie_id,title,vote_average,vote_count
0,19995,Avatar,7.2,11800
1,285,Pirates of the Caribbean: At World's End,6.9,4500
2,206647,Spectre,6.3,4466

In [ ]:
popularity.sort_values('vote_count',ascending=False)

      movie_id                   title  vote_average  vote_count
96       27205               Inception           8.1       13752
65         155         The Dark Knight           8.2       12002
0        19995                  Avatar           7.2       11800
16       24428            The Avengers           7.4       11776
788     293660                Deadpool           7.4       10995
...        ...                     ...           ...         ...
4690    402515          American Beast           0.0           0
4313     49951    Certifiably Jonathan           0.0           0
4562    119657        El Rey de Najayo           0.0           0
4506    181940     Carousel of Revenge           0.0           0
4125    325140  Hum To Mohabbat Karega           0.0           0

[4809 rows x 4 columns]

In [ ]:
popularity = popularity[popularity['vote_count']>=2500].sort_values('vote_average',ascending=False).head(50)

In [ ]:
popularity = popularity.merge(movies,on='title').drop_duplicates('title')

In [ ]:
popularity.shape

(50, 13)

In [ ]:
popularity.head(5)

,movie_id_x,title,vote_average_x,vote_count_x,movie_id_y,overview,genres,keywords,cast,crew,release_date,vote_average_y,vote_count_y
0,278,The Shawshank Redemption,8.5,8205,278,Framed in the 1940s for the double murder of h...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","[{""id"": 378, ""name"": ""prison""}, {""id"": 417, ""n...","[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de...",1994-09-23,8.5,8205
1,238,The Godfather,8.4,5893,238,"Spanning the years 1945 to 1955, a chronicle o...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","[{""id"": 131, ""name"": ""italy""}, {""id"": 699, ""na...","[{""cast_id"": 5, ""character"": ""Don Vito Corleon...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de...",1972-03-14,8.4,5893
2,550,Fight Club,8.3,9413,550,A ticking-time-bomb insomniac and a slippery s...,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 825, ""name"": ""support group""}, {""id"": ...","[{""cast_id"": 4, ""character"": ""The Narrator"", ""...","[{""credit_id"": ""55731b8192514111610027d7"", ""de...",1999-10-15,8.3,9413
3,424,Schindler's List,8.3,4329,424,The true story of how businessman Oskar Schind...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...","[{""id"": 1382, ""name"": ""factory""}, {""id"": 1631,...","[{""cast_id"": 14, ""character"": ""Oskar Schindler...","[{""credit_id"": ""52fe4242c3a36847f8010303"", ""de...",1993-11-29,8.3,4329
4,129,Spirited Away,8.3,3840,129,A ten year old girl who wanders away from her ...,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...","[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...","[{""cast_id"": 3, ""character"": ""Chihiro (voice)""...","[{""credit_id"": ""571e4beec3a3683393000236"", ""de...",2001-07-20,8.3,3840

In [ ]:
popularity.columns

Index(['movie_id_x', 'title', 'vote_average_x', 'vote_count_x', 'movie_id_y',
       'overview', 'genres', 'keywords', 'cast', 'crew', 'release_date',
       'vote_average_y', 'vote_count_y'],
      dtype='object')

In [ ]:
popularity=popularity[['movie_id_x', 'title', 'vote_average_x', 'vote_count_x',
       'overview', 'genres', 'keywords', 'cast', 'crew', 'release_date']]

In [ ]:
popularity = popularity.rename(columns={'movie_id_x': 'movie_id'})
popularity = popularity.rename(columns={'vote_average_x': 'vote_average'})
popularity = popularity.rename(columns={'vote_count_x': 'vote_count'})

In [ ]:
popularity.columns

Index(['movie_id', 'title', 'vote_average', 'vote_count', 'overview', 'genres',
       'keywords', 'cast', 'crew', 'release_date'],
      dtype='object')

In [ ]:
popularity.shape

(50, 10)

In [ ]:
popularity.head(2)

,movie_id,title,vote_average,vote_count,overview,genres,keywords,cast,crew,release_date
0,278,The Shawshank Redemption,8.5,8205,Framed in the 1940s for the double murder of h...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","[{""id"": 378, ""name"": ""prison""}, {""id"": 417, ""n...","[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de...",1994-09-23
1,238,The Godfather,8.4,5893,"Spanning the years 1945 to 1955, a chronicle o...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","[{""id"": 131, ""name"": ""italy""}, {""id"": 699, ""na...","[{""cast_id"": 5, ""character"": ""Don Vito Corleon...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de...",1972-03-14

In [ ]:
popularity.columns

Index(['movie_id', 'title', 'vote_average', 'vote_count', 'overview', 'genres',
       'keywords', 'cast', 'crew', 'release_date'],
      dtype='object')

In [ ]:
popularity=popularity[['movie_id','title']]

In [ ]:
popularity.head(2)

   movie_id                     title
0       278  The Shawshank Redemption
1       238             The Godfather

In [ ]:
from google.colab import files

In [ ]:
popularity.to_csv('top50.csv',encoding ='utf-8-sig')

In [ ]:
files.download('top50.csv')

In [ ]:
movies.columns

Index(['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
import ast

In [ ]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,release_date,vote_average,vote_count
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009-12-10,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007-05-19,6.9,4500

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,release_date,vote_average,vote_count
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009-12-10,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007-05-19,6.9,4500

In [ ]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,release_date,vote_average,vote_count
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009-12-10,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007-05-19,6.9,4500

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [ ]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,release_date,vote_average,vote_count
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],2009-12-10,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],2007-05-19,6.9,4500

In [ ]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,release_date,vote_average,vote_count
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],2009-12-10,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],2007-05-19,6.9,4500

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,release_date,vote_average,vote_count
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],2009-12-10,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],2007-05-19,6.9,4500

In [ ]:
movies['features'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
movies_new = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [ ]:
movies_new=movies_new[['movie_id','title','features']]

In [ ]:
movies_new.head(2)

,movie_id,title,features
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [ ]:
from google.colab import files

In [ ]:
movies_new.to_csv('dataset.csv', encoding = 'utf-8-sig')
files.download('dataset.csv')

In [ ]:
files.download('dataset.csv')

In [ ]:
movies_new['features'] = movies_new['features'].apply(lambda x: " ".join(x))

In [ ]:
movies_new.head(2)

,movie_id,title,features
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vector = cv.fit_transform(movies_new['features']).toarray()

In [ ]:
vector.shape

(4805, 5000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
similarity

array([[1.        , 0.08858079, 0.05905386, ..., 0.02450715, 0.02702703,
        0.        ],
       [0.08858079, 1.        , 0.06451613, ..., 0.02677398, 0.        ,
        0.        ],
       [0.05905386, 0.06451613, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02450715, 0.02677398, 0.02677398, ..., 1.        , 0.07352146,
        0.04836508],
       [0.02702703, 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05333807],
       [0.        , 0.        , 0.        , ..., 0.04836508, 0.05333807,
        1.        ]])

In [ ]:
movies_new[movies_new['title'] == "Pirates of the Caribbean: At World's End"].index[0]

1

In [ ]:
def recommend(movie):
    index = movies_new[movies_new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies_new.iloc[i[0]].title)

In [ ]:
recommend("Pirates of the Caribbean: At World's End")

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: On Stranger Tides
Pirates of the Caribbean: The Curse of the Black Pearl
20,000 Leagues Under the Sea
Puss in Boots

In [ ]:
import pickle

In [ ]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
pickle.dump(vector,open('vector.pkl','wb'))